.article-header {
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
}

.article-header--invisible {
    overflow: hidden;
    height: 0;
}