.article-date {
  font-family: $font-sans-serif;
  color: $colour-fg-light;
  display: block;
  font-size: 0.8rem;
  margin-bottom: $margin / 2;
}

@media (prefers-color-scheme: dark) {
  .article-date {
    color: $dark-colour-fg-light;
  }
}
