.global-logo {
  font-family: var(--font-sans-serif);
  font-weight: 400;
  font-size: 0.6rem;
  color: var(--colour-highlight);
  display: flex;
  flex-direction: column;
  align-items: center;
}

a.global-logo__link {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  &,
  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
    color: inherit;
  }
}
