.page-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: var(--font-sans-serif);
  max-width: var(--max-readable-width);
  margin-top: 0;
  margin-bottom: var(--margin);
}
