.series-container {
    // border-width: 2px;
    // border-style: solid;
    // border-color: var(--colour-bg-base-mid);
    // padding-top: var(--gutter);
    // padding-bottom: var(--gutter);
    margin-bottom: var(--margin-large);
    // padding-left: var(--gutter);
    // padding-right: var(--gutter);
    max-width: var(--max-readable-width);
    margin-left: auto;
    margin-right: auto;
}