:root {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  background-color: #ffffff;
  color: #000000;
  font-size: 22px;
  line-height: 1.6;
}
html {
  padding: 0;
  margin: 0;
}
body {
  max-width: 28rem;
  padding: 1.6rem;
  margin: 0;
}
h1 {
  font-weight: normal;
  font-size: 2.2rem;
  margin-top: 0;
  margin-bottom: 1.6rem;
  line-height: 1.375;
}
p {
  margin-top: 0;
  margin-bottom: 1.6rem;
}
p:last-child {
  margin-bottom: 0;
}
time {
  font-size: 0.5rem;
  opacity: 0.5;
}

hr {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: currentColor;
  opacity: 0.2;
  margin-top: 0;
  margin-bottom: 1.6rem;
}
a:link {
  color: inherit;
}
a:visited {
  color: #333;
}
a:hover {
  color: #f00;
}
a:active {
  color: inherit;
}
