:root {
    --animation-base-duration: 1000ms;
    --animation-iteration-count: infinite;
    font-family: monospace;
    background-color: #000;
  }
  
  :root *,
  :root *::before,
  :root *::after {
    box-sizing: border-box;
  }
  
  .width {
      width: 0%;
      height: calc(100vh/3);
      position: absolute;
      bottom: calc(100vh/3);
      left: 0;
      background-color: currentColor;
      animation-name: stretch, colour;
      animation-delay: 0;
      animation-direction: normal;
      animation-duration: var(--animation-base-duration);
      animation-fill-mode: both;
      animation-iteration-count: var(--animation-iteration-count);
      animation-play-state: running;
      animation-timing-function: ease-in;
    }
  
    .score {
      background-color: #000000;
      color: #eeeeee;
      text-align: center;
      line-height: calc(100vh/3);
      height: calc(100vh/3);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      font-size: calc(100vh/6);
      display: flex;
      justify-content: space-around;
    }
    
    .score i {
      font-style: normal;
      overflow: hidden;
    }
    
    .score i::before {
      display: block;
      content: "0123456789";
      width: 1em;
      word-break: break-all;
      animation-name: score;
      animation-delay: 0;
      animation-direction: normal;
      animation-duration: var(--animation-base-duration);
      animation-fill-mode: both;
      animation-iteration-count: var(--animation-iteration-count);
      animation-play-state: running;
      animation-timing-function: steps(1, end);
    }
    
    .score i:nth-child(2)::before {
      animation-duration: calc(var(--animation-base-duration) / 10);
    }
    
    .score i:nth-child(3)::before {
      animation-duration: calc(var(--animation-base-duration) / 100);
    }
    
    .score i:nth-child(4)::before {
      animation-duration: calc(var(--animation-base-duration) / 1000);
    }
  
    .score i:nth-child(5)::before {
      animation-duration: calc(var(--animation-base-duration) / 10000);
    }
  
    .button {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      font-size: calc(100vh/6);
      background-color: #333333;
      color: #eeeeee;
      text-align: center;
      line-height: calc(100vh/3);
      height: calc(100vh/3);
    }
    .button:active {
      background-color: #000000;
    }
  
    .button::before {
      content: "Stop!";
    }
  
  
    
    #stop {
      display: none;
    }
  
    #stop:checked ~ .width,
    #stop:checked ~ .score i::before {
      animation-play-state: paused;
    }
    
    #stop:checked ~ .button::before {
      content: "Go!";
    }
    
    @keyframes score {
      0% {
        transform: translateY(0);
      }
      10% {
        transform: translateY(-10%);
      }
      20% {
        transform: translateY(-20%);
      }
      30% {
        transform: translateY(-30%);
      }
      40% {
        transform: translateY(-40%);
      }
      50% {
        transform: translateY(-50%);
      }
      60% {
        transform: translateY(-60%);
      }
      70% {
        transform: translateY(-70%);
      }
      80% {
        transform: translateY(-80%);
      }
      90% {
        transform: translateY(-90%);
      }
      100% {
        transform: translateY(-90%);
      }
    }
  
    @keyframes colour {
      0% {
        color: red;
      }
      50% {
        color: orange;
      }
      100% {
        color: green;
      }
    }
    
    @keyframes stretch {
      0% {
        width: 0%;
      }
      100% {
        width: 100%;
      }
    }