<div class="global-logo">
{% unless title == "Home" -%}
    <a href="/" class="global-logo__link" aria-label="Back to the Faster and Worse home page">
{%- endunless %}
        Faster and Worse
{% unless title == "Home" -%}
    </a>
{%- endunless %}
</div>
