---
layout: layouts/base.liquid
---
<main role="main">
  <article class="article">
    {% include 'partials/article-header' %}
    {% if note -%}
      {% include 'partials/article-note' %}
    {%- endif %}
    {% include 'partials/article-content' %}
    {% include 'partials/article-footer' %}
  </article>
</main>
{% include 'partials/global-hr' %}
{% include 'partials/global-footer' %}
