---
layout: layouts/base.liquid
---
<main role="main">
  <article class="page">
    {% include 'partials/page-header' %}
    {% include 'partials/article-content' %}
  </article>
</main>
{% include 'partials/global-hr' %}
{% include 'partials/global-footer' %}
